<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Shop</title>
    <link rel="stylesheet" href="styles/shopStyle.css">
</head>
<body>

    <header>
        <div class="logo">Ecommerce Shop</div>
        <nav>
            <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/checkout">Upload</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/userRegistration">Register</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="productGrid">
        <!-- JavaScript will dynamically populate this section -->
    </main>

    <script src="scripts/shopscripts.js"></script>

</body>
</html>
